<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="form-container">
        <h1>Login</h1>
        <form method="POST">
            <label>Username:</label>
            <input type="text" name="username" required>

            <label>Password:</label>
            <input type="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <a href="{{ url_for('home') }}">Hjem</a>
        <a href="{{ url_for('register') }}">Registrer</a>
    </div>
</body>
</html>
