<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css">
    <title>Home</title>
</head>
<body>
    <div class="home-container">
        {% if current_user.is_authenticated %}
            <h1 class="home-title">Logget inn som {{ current_user.username }}</h1>

            <form class="logout-form" action="{{ url_for('logout') }}" method="get">
                <button type="submit" class="logout-button">Logg ut</button>
            </form>

            <div class="home-links">
                <a href="{{ url_for('oversetter') }}">Oversetter</a>
                <a href="{{ url_for('adminside') }}">Admin</a>
            </div>
        {% else %}
            <h1 class="home-title not-logged-in">Du er ikke logget inn</h1>

            <div class="home-links">
                <a href="{{ url_for('login') }}">Logg inn</a>
                <a href="{{ url_for('register') }}">Registrer</a>
                <a href="{{ url_for('oversetter') }}">Oversetter</a>
                <a href="{{ url_for('adminside') }}">Admin</a>
            </div>
        {% endif %}
    </div>
</body>
</html>
