<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Kvittering</title>
</head>
<body>
    <h2>Hello {{current_user.username}}, din bestilling har blitt mottatt, og skal bli behandlet snarest mulig.</h2>
    <br>
    <p></p>
    <a href="{{url_for('home')}}">Hjem</a>
    <a href="{{url_for('oversetter')}}">Oversetter</a>
</body>
</html>