<!DOCTYPE html>
<html lang="en">
    
<head>
    <link rel="stylesheet" href="static/style.css">
    <title>Register</title>
</head>
<body>
    <div class="form-container">
        <h1>Register</h1>
        <form method="POST">
            <label>Username:</label>
            <input type="text" name="username" required>

            <label>Password:</label>
            <input type="password" name="password" required>

            <button type="submit">Register</button>
        </form>
        <a href="{{ url_for('home') }}">Hjem</a>
        <a href="{{ url_for('login') }}">Logg inn</a>
    </div>
</body>
</html>
